.tp-plugin__panel-toolbar {
  padding: var(--pf-v5-global--spacer--xs) var(--pf-v5-global--spacer--sm);
  border-bottom: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
}

.tp-plugin__compact-control {
  padding: var(--pf-v5-global--spacer--xs) var(--pf-v5-global--spacer--sm);
}

.tp-plugin__panel-query-container {
  padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--md);
}

.tp-plugin__panel-topology-container {
  border-left: var(--pf-v5-global--BorderWidth--sm) var(--pf-v5-global--BorderColor--100) solid;
  position: relative;
}

.tp-plugin__panel-query-input {
  margin: 0 var(--pf-v5-global--spacer--md) var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--md);
}

.tp-plugin__panel-topology-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: transparent;
}
